@{
    ViewData["Title"] = "About";
}

@*Jumbotron was discontinued, so had to find alternate code.*@
<div class="p-5 mb-4 bg-secondary rounded-3">
    <h1 class="display-4 text-white">About</h1>
    <p class="lead text-white">SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
</div>